body {
    margin: 0 auto;
}

#background {

    margin: 0 auto;
    width: 100%;
    background-color: #ffaf5a;
    padding: 10px 0;
}

#content {

    margin: 0 12px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#title {
    text-align: center;
    font-size: 33px;
    color: #ffaf5a;
    padding: 21px 0;
    font-family: "PingFang SC";

}

.line {
    width: 100%;
    height: 1px;
    background-color: #a7a6a6;
}

.score_Div {
    padding: 29px 58px;
    text-align: center;
}

.score_Div img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#name {
    font-size: 18px;
    color: #ffaf5a;
    margin-left: 68px;
}

#score_title {
    font-size: 14px;
    color: #292f33;
    margin-left: 68px;
}

#score {
    font-size: 100px;
    color: #ffaf5a;
    text-align: center;
    font-family: "PingFang SC";

}

#score span {

    font-size: 30px;
    /*color: #ffaf5a;*/

}

#remark {
    font-size: 15px;
    color: #525f66;
    padding: 40px 15px;
    text-align: center;
}

#imaginary_line {
    width: 100%;
    height: 1px;
    background-color: #a7a6a6;
}

#resultBtn {

    font-size: 20px;
    color: #292f33;
    padding: 32px 50px;
    text-align: center;
    border-top-style: dashed;
    border-width: 1px;
    border-color: #cccccc;
}
